<form [formGroup]="rForm" (submit)="submit()">
    <mat-form-field class="campo">
        <mat-label>Nivel</mat-label>
        <mat-select
          [compareWith]="compareLevel"
          class="col-sm-10 form-control"
          name="level"
          formControlName="level">
            <mat-option
              [value]="level"
              *ngFor="let level of languageLevels">
              {{ level.name }}
            </mat-option>       
        </mat-select>
    </mat-form-field>
    <!--
  <div class="form-group">
    <label for="level">Nivel</label>
    <select
      [compareWith]="compareLevel"
      class="col-sm-10 form-control"
      name="level"
      formControlName="level"
    >
      <option [ngValue]="level" *ngFor="let level of languageLevels">
        {{ level.name }}</option
      >
    </select>
  </div>
-->
<!--
  <div class="form-group">
    <label for="name">Idioma</label>
    <select
      class="col-sm-10 form-control"
      name="name"
      formControlName="name"
      [compareWith]="compareName"
    >
      <option [ngValue]="name" *ngFor="let name of languageNames">
        {{ name.name }}</option
      >
    </select>
  </div>
  -->
  <mat-form-field class="campo">
      <mat-label>Idioma</mat-label>
      <mat-select
        [compareWith]="compareName"
        class="col-sm-10 form-control"
        name="name"
        formControlName="name">
          <mat-option
            [value]="name"
            *ngFor="let name of languageNames">
            {{ name.name }}
          </mat-option>       
      </mat-select>
  </mat-form-field>
<!--
  <div class="form-group">
    <label for="date">Fecha de obtención del título</label>
    <input
      type="text"
      name="date"
      class="col-sm-10 form-control"
      formControlName="date"
    />
  </div>
-->

<mat-form-field class="campo">
    <input matInput placeholder="Fecha de obtención del título" type="text" name="date" formControlName="date">
  </mat-form-field>

  <button mat-flat-button color="primary" type="submit" [disabled]="rForm.invalid">
    Guardar
  </button>
</form>
