mat-card {
    width: 50%;
    margin: 100px auto auto auto;
    padding-bottom: 20px !important;
}

mat-card-title{
  color: white;
  padding-top: 10px;
}

form{
  padding-top: 30px;
}

mat-form-field {
    margin: auto;
    width: 80%;
    display: block;
}

button {
    margin-left: 5%;
    width: 20%;
}

ul {
  display: flex;
  justify-content: space-between;
}

li {
  list-style: none;
}



::ng-deep .mat-card-header{
    background-color: #3F51B5 !important;
    padding:5px !important;
  }
  
  ::ng-deep .mat-card{
    padding:0 !important;
  }
  
  ::ng-deep .mat-card-content{
    padding:5px !important;
  }

button {
  font-size: 22px;
  width: 200px;
}

a{
  margin-right: 70px;
}

.password {
  text-decoration: none;
  font-size: 22px;
}